<%- include('header.ejs') %> <%- include('sidebar.ejs') %>

<section>
  <link rel="stylesheet" href="/formadeposito.css" />

  <% if(nuevo==true){ %>

  <div class="detalledeposito">
    <p><strong> Detalles Del Depósito</strong></p>
  </div>
  <br />
  <br />
  <br />
  <form class="formas4" action="/nuevodeposito" method="post">
    <label class="mediodepago">Medio De Pago:</label>
    <br />

    <select class="bancos" name="banco">
      <option value="0"></option>
      <option value="1001">Bancolombia</option>
      <option value="2002">Davivienda</option>
      <option value="3003">BBVA</option>
    </select>
    <br />
    <br />
    <br />
    <input type="hidden" name="usuarioId" value="<%= usuarioId %>" />
    <label class="mediodepago">Monto A Depósitar:</label>
    <br />
    <br />
    <input
      class="bancos3"
      type="number"
      placeholder="Ingrese el monto"
      name="monto"
    />
    <br />
    <br />
    <br />
    <button class="boton89" type="submit"><strong> Guardar</strong></button>
  </form>

  <% }else{ %>
  <h3>Modificar Reserva</h3>

  <form action="/modificar" method="post"></form>

  <% } %>
</section>
<%- include('footer.ejs') %>
