<%- include('header.ejs') %>

    <%- include('sidebar.ejs') %>
        <section>
            <link rel="stylesheet" href="/bienvenida45.css">
            <div class="bien45">
                <img class="u" src="/Bitcoin.gif">
            </div>
        </section>
        <%- include('footer.ejs') %>