<%- include('header.ejs') %>

    <%- include('sidebar.ejs') %>
        <section>
            <h1>Este es el inicio aca va a ir lo que manu haga</h1>
        </section>
        <%- include('footer.ejs') %>