<%- include('header.ejs') %>

    <%- include('sidebar.ejs') %>
        <div class="preguntas2">
            <section>

                <div>

                    <link rel="stylesheet" href="/preguntas.css">

                    <h1 class="h1">Preguntas frecuentes</h1>
                    <hr>
                    <br>


                    <h3 class="h3">¿Cómo empezar a utilizar BIT-G3?</h3>

                    <span class="texto"> Para empezar a utilizar BIT-G3, debes ir a la opción registrarte en la página
                        principal,
                        ingresar
                        tu correo electrónico, asignar una contraseña y aceptar los términos y condiciones antes de
                        darle
                        clic en el botón registrarte. Luego recibirás un email en el correo electrónico que utilizaste y
                        debes dar clic en activar tu
                        cuenta para confirmar la creación de la misma.
                    </span>

                    <hr>

                    <h3 class="h3">No recibí el Email para activar mi cuenta ¿Qué debo hacer?</h3>

                    <span class="texto">Si no recibiste el correo para activar tu cuenta o no te aparece en tu bandeja
                        de entrada,
                        debes
                        revisar
                        en
                        correos no deseados o spam, en algunas ocasiones se almacenan ahí. Ahora bien, si no lo
                        encuentras
                        en
                        ninguna de
                        estas carpetas puede ser también que utilizaste una dirección de correo electrónico incorrecta.
                        <br>
                        Una forma de verificar si ingresaste bien tu correo es intentar crear otra cuenta con el mismo
                        correo.
                        En caso
                        de que lo anterior no funcione y no puedas ingresar a tu cuenta, envíanos un correo a
                        soporte@BIT-G3.com
                        y
                        nosotros te ayudaremos a solucionarlo.
                    </span>

                    <hr>

                    <h3 class="h3">¿Cómo verificar tu cuenta?</h3>

                    <span class="texto">Tu cuenta estará verificada cuando completes el formulario correspondiente y
                        envíes la
                        información
                        solicitada,
                        para hacerlo debes ingresar a tu usuario e ir a la opción “Mi Cuenta” “Verificación” y seguir
                        los
                        pasos
                        allí
                        indicados, además debes llenar también la información en la sección “Información Personal” y
                        darle
                        guardar para
                        que tu información sea validada, otras forma de hacerlo es si tu cuenta no se encuentra
                        verificada,
                        darle clic
                        en la opción “Verificar Cuenta” cuando abres por primera vez el dashboard y completar cada uno
                        de
                        los
                        campos, el
                        proceso de verificación puede tardar hasta 24 horas hábiles en ser aceptado una vez hayas
                        completado
                        todos los
                        pasos, aunque normalmente dura mucho menos.</span>

                    <hr>

                    <h3 class="h3">¿Por qué debo verificar mi cuenta?</h3>

                    <span class="texto">Como empresa legalmente constituida, damos estricto cumplimiento a la política
                        de prevención
                        de
                        lavado de
                        activos
                        y financiación del terrorismo, exigiendo así a cada uno de nuestros usuarios que deban validar
                        su
                        identidad a la hora
                        <br> de realizar cualquier operación, de esta manera tenemos conocimiento de cada cliente que
                        visita
                        nuestra
                        plataforma, garantizando poder brindarle a cada uno un servicio seguro y completo.</span>

                    <hr>

                    <h3 class="h3">¿Cuánto tiempo tarda que sea verificada mi cuenta?</h3>

                    <span class="texto">Una vez que hayas completado todos los pasos y cargado la información
                        correspondiente, el
                        proceso
                        de
                        verificación
                        puede tardar hasta 24 horas hábiles, sin embargo, en la mayoría de los casos suele tardar mucho
                        menos.
                    </span>

                    <h3 class="h3">¿Los datos que me piden para verificar mi cuenta son compartidos?</h3>

                    <span class="texto">Coinsenda no comparte tus datos con ninguna organización gubernamental ni
                        persona ajena a la
                        compañía,
                        por lo
                        cual tus datos siempre estarán seguros.</span>

                    <hr>

                    <h3 class="h3">¿Puedo operar como empresa?</h3>

                    <span class="texto">Si quieres operar como empresa, enviados un correo a info@coinsenda.com para
                        indicarte como
                        hacerlo.
                    </span>
                </div>
            </section>
        </div>


        <%- include('footer.ejs') %>