<%- include('header.ejs') %>

    <%- include('sidebar.ejs') %>
        <section>
            <link rel="stylesheet" href="/graficai.css">
            <div class="gra5">
                <img class="ol" src="/grafica.gif">
            </div>
        </section>
        <%- include('footer.ejs') %>