<%- include('header.ejs') %>

    <%- include('sidebar.ejs') %>
        <section>
            <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard-rtl/">


            <link href="../assets/dist/css/bootstrap.rtl.min.css" rel="stylesheet">

            <style>
                .bd-placeholder-img {
                    font-size: 1.125rem;
                    text-anchor: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;
                }

                @media (min-width: 768px) {
                    .bd-placeholder-img-lg {
                        font-size: 3.5rem;
                    }
                }
            </style>


            <link href="../dashboard/dashboard.rtl.css" rel="stylesheet">
            </head>

            <body>

                <div class="container-fluid">
                    <div class="row">
                        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                            <div class="position-sticky pt-3"></div>

                            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

                    </div>

                </div>

                <script>
                    /* globals Chart:false, feather:false */

                    (function () {
                        'use strict'

                        feather.replace({ 'aria-hidden': 'true' })

                        // Graphs
                        var ctx = document.getElementById('myChart')
                        // eslint-disable-next-line no-unused-vars
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [
                                    'الأحد',
                                    'الإثنين',
                                    'الثلاثاء',
                                    'الأربعاء',
                                    'الخميس',
                                    'الجمعة',
                                    'السبت'
                                ],
                                datasets: [{
                                    data: [
                                        15339,
                                        21345,
                                        18483,
                                        24003,
                                        23489,
                                        24092,
                                        12034
                                    ],
                                    lineTension: 0,
                                    backgroundColor: 'transparent',
                                    borderColor: '#007bff',
                                    borderWidth: 4,
                                    pointBackgroundColor: '#007bff'
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: false
                                        }
                                    }]
                                },
                                legend: {
                                    display: false
                                }
                            }
                        })
                    })()

                </script>
        </section>
        <%- include('footer.ejs') %>