<%- include('header.ejs') %> <%- include('sidebar.ejs') %>
<section>
  <div>
    <ul>
      <li><strong>Monto: </strong><%= res.monto %></li>
      <li>
        <strong>Banco: </strong><% if(res.banco==1001){ %> Bancolombia <% }else
        if (res.banco==2002){ %> Davivienda <% }else{ %> BBVA <% } %>
      </li>
    </ul>
  </div>
</section>
<%- include('footer.ejs') %>
