.instrucciones1 {
margin-left: -50px;
}
#titulo {
  font-weight: normal;
  margin-top: 50px;
  /* border-bottom: 1px black solid; */
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.instrucciones {
  font-size: 12px;
  text-align: justify;
  margin-top: 50px;
}

html {
  font-size: 62.5%;
}

.calculadora-general {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 54%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 350px;
  border-bottom: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-top: 1px black solid;
}

.calculadora-pantalla {
  display: block;
  font-size: 15px;
  width: 348px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  background-color: rgb(2, 2, 2);
  color: white;
}

button {
  height: 60px;
  font-size: 2rem !important;
}
#igual {
  height: 98%;
  grid-area: 2 / 4 / 6 / 5;
  background-color: #2bbbad !important;
}

.calculadora-filas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 30px;
  padding-top: 0px;
}

#suma {
  background-color: #33b5e5 !important;
}
#resta {
  background-color: #33b5e5 !important;
}
#multiplicacion {
  background-color: #33b5e5 !important;
}
#division {
  background-color: #33b5e5 !important;
}



















