/* @font-face {
  font-family: letra;
  src: url(/Fuentesdetexto/MochiyPopPOne-Regular.ttf);
} */
.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/imagenes/inicio_fondo.png);
  background-size: cover;
  background-position: center;
}

.inicio .image img {
  width: 40vw;
  animation: float 3s linear infinite;
}
.mt-6 {
  font-family:"Poppins", sans-serif;
  width: 500px;
  height: 420px;
   margin-top: 60px;
   box-shadow: 0px 0px 6px #000;
   padding: 20px 30px;
}
.cuenta {
  text-align: center;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  border-bottom: 1px solid;
}
.mt-8 {
  font-family:"Poppins", sans-serif;
  color: black;
  font-size: 15px;

  
}

.grid {
  display: grid;
  margin: 50px;
  gap: 8px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 450px;
  margin-left: 15px;
}

.w-full {
  width: 100%;
  /* border-radius: 6px; */
  padding-left: 15px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 5px;
  border-color: rgb(0, 0, 0);
  justify-content: center;
  border-color: rgba(209, 213, 219);
}
.registrate {
  width: 90%;
  /* border-radius: 6px; */
  margin-left: 28px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: rgb(47, 158, 153);
  font-weight: 800;
  margin-top: -25px;

}
.flex {
  display: flex;
  justify-content: space-between;
  
}

.iniciarsesion_letra {
  font-weight: 900;
  color: rgb(8, 8, 8);
}
.marginlabel {
  margin-right: 50px;
}
/* .text-white {
  font-weight: 900;
  text-decoration: none;
} */
/* .justify-center {
  justify-content: center;
} */
/* .borde {
  background-color: rgba(255, 255, 255, 0.425);
  width: 600px;
  height: 500px;
  color: rgb(255, 251, 251);
  font-family: Arial, Helvetica, sans-serif;} */

/* .text-gray-900 {
  color: rgba(17, 24, 39);
} */
/* .px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}
.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
} 
.relative {
  position: relative;
} */
/*no hace nada .justify-center {
  justify-content: center;
} 
 no hace nada .items-center {
  align-items: center;
} 
/justify para separar iniciar sesion/

/* no hace nada .flex-col {
  flex-direction: column;
}
/*no hace nada .rounded-md {
  border-radius: 6px;
} */
/* .block {
  display: block;
}  */
/* .rounded-t-md {
  border-radius: 8px;
} */

/* .grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
} */

/* .bg-indigo-600 {
  background-color: rgb(47, 158, 153);
} */